*/target/**

##########
# Eclipse

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders

# Eclipse Core
.project

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# JDT-specific (Eclipse Java Development Tools)
.classpath

# Java annotation processor (APT)
.factorypath

# sbteclipse plugin
.target

# Code Recommenders
.recommenders/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

*.class

# Log file
*.log

##########
# ODK Aggregate legacy
Servers/
aggregate-mysql/src/
aggregate-postgres/src/
bitrock-installer/*.war
bitrock-installer/files/ODKAggregate.war
bitrock-installer/files/conf/
build/appengine-java-sdk-1.9.30/
build/appengine-java-sdk-1.9.34.zip
build/appengine-java-sdk-1.9.34/
build/appengine-java-sdk-1.9.42.zip
build/appengine-java-sdk-1.9.42/
build/appengine-java-sdk-1.9.48.zip
build/appengine-java-sdk-1.9.48/
build/chromedriver_mac32-2.20.zip
build/chromedriver_mac32-2.20/
build/chromedriver_mac64-2.25.zip
build/chromedriver_mac64-2.25/
build/chromedriver_mac64-2.26.zip
build/chromedriver_mac64-2.26/
build/chromedriver_win32-2.20.zip
build/chromedriver_win32-2.20/
build/chromedriver_win32-2.25.zip
build/chromedriver_win32-2.25/
build/chromedriver_win32-2.26.zip
build/chromedriver_win32-2.26/
build/selenium-java-2.45.0.zip
build/selenium-java-2.45.0/
build/selenium-java-2.53.1.zip
build/selenium-java-2.53.1/
build/selenium-java-3.0.1.zip
build/selenium-java-3.0.1/
generated/
src/main/libs/gdata-src.java-1.47.1/
war-base/WEB-INF/lib/odk-gae-settings-latest.jar
